<h1 class="text-2xl font-bold my-6">Hey there</h1>
<div class="intro tracking-wide font-serif">
    {{ content }}
</div>

<section class="mt-12">
    <h2 class="p-5">Writings</h2>
    {{ collection:blog }}
            <a href="{{ url }}" class="flex items-center justify-between p-5 border-t border-green-400 text-green-400 hover:text-green-900 hover:bg-green-400"> <span>{{ title }}</span>
                <span class="text-green-900 text-sm">{{ date }}</span>
            </a>
    {{ /collection:blog }}
</section>
